html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media screen and (max-width: 960px) {
  .desktop-only {
    display: none !important; } }
@media screen and (min-width: 961px) {
  .desktop-only {
    display: block !important; } }

@media screen and (max-width: 960px) {
  .mobile-only {
    display: block !important; } }
@media screen and (min-width: 961px) {
  .mobile-only {
    display: none !important; } }

.mg-t {
  margin-top: 59px !important; }

.pd-r {
  padding-right: 15px !important; }

.no-mg-b {
  margin-bottom: 0 !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.center {
  text-align: center !important; }

.justify {
  text-align: justify !important; }

.bold {
  font-weight: bold !important; }

body {
  margin: 0 auto;
  width: calc(100vw - 30px);
  height: 100%; }

html {
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #000080; }

.title-big {
  font-size: 2.618em;
  font-weight: bold;
  line-height: 5.236em; }

.title-small {
  font-size: 1.618em;
  font-weight: bold;
  line-height: 3.236em; }

.subtitle {
  font-size: 1em;
  font-weight: bold;
  line-height: 2em; }

p {
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 2em; }

a {
  font-weight: bold;
  color: #000080;
  text-decoration: none;
  cursor: pointer !important; }

a:visited {
  color: #000080; }

.horizontal-bar {
  position: relative;
  bottom: -9px; }

.tag {
  margin-right: 5px;
  padding: 3px;
  font-weight: normal !important;
  color: white !important;
  background: #000080; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 960px; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

[class*='bit-'] {
  float: left;
  padding: 0; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }

.bit-40 {
  width: 40%; }

.bit-60 {
  width: 60%; }

.bit-75 {
  width: 75%; }

@media (max-width: 30em) {
  .bit-1 {
    width: 100%; }

  .bit-2 {
    width: 100%; }

  .bit-3 {
    width: 100%; }

  .bit-4 {
    width: 100%; }

  .bit-5 {
    width: 100%; }

  .bit-6 {
    width: 100%; }

  .bit-7 {
    width: 100%; }

  .bit-8 {
    width: 100%; }

  .bit-9 {
    width: 100%; }

  .bit-10 {
    width: 100%; }

  .bit-11 {
    width: 100%; }

  .bit-12 {
    width: 100%; } }
@media (min-width: 30em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; }

  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%; } }
@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2,
  .bit-7 {
    width: 100%; }

  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; } }
/* Style inputs with type="text", select elements and textareas */
input[type=text],
input[type=email],
textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border: 4px solid #000080;
  box-sizing: border-box;
  font-size: 1em; }

textarea {
  resize: none; }

input[type=submit] {
  float: right !important;
  padding: 15px;
  border: none;
  background-color: #000080;
  color: white;
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: rgba(0, 0, 128, 0.75); }

label {
  position: absolute;
  left: -9999px; }

.jumbotron {
  margin-top: 0;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #000080;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%; }
  @media screen and (max-width: 960px) {
    .jumbotron {
      margin-top: 50px;
      height: calc(100vh - 65px);
      background-size: 85%; } }

#main-nav,
#main-footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: white; }
  #main-nav .left a,
  #main-footer .left a {
    display: inline-block;
    font-weight: bold; }
  #main-nav .right a,
  #main-footer .right a {
    display: inline-block;
    margin-left: 25px;
    font-weight: bold; }

@media screen and (max-width: 960px) {
  #main-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0 15px; } }
@media screen and (min-width: 960px) {
  #main-nav {
    padding: 0; } }

#main-footer {
  clear: both;
  margin-top: 60px; }
  #main-footer p {
    display: inline-block;
    line-height: 50px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
  height: 100%;
  background: #000080;
  overflow-x: hidden; }

.overlay-nav {
  margin: 0 auto;
  width: calc(100% - 30px);
  height: 50px;
  line-height: 50px; }
  .overlay-nav a {
    color: white; }

.overlay-content {
  height: calc(100% - 50px);
  width: 100%;
  text-align: center;
  background-color: #000080; }
  .overlay-content a {
    display: inline-block;
    width: 100vw;
    font-size: 1.618em;
    line-height: 3.236em;
    color: white;
    text-decoration: none; }

.links-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.color-swatch {
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 50%; }

.concerts-by-the-canal-yellow {
  background: #FFC20D; }

.concerts-by-the-canal-blue {
  background: #3081A2; }

.other-projects {
  margin-top: 60px !important; }

.other-project-prev {
  position: relative;
  height: 150px; }
  .other-project-prev h2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: left;
    line-height: 1;
    color: white; }

.other-project-next {
  position: relative;
  height: 150px; }
  .other-project-next h2 {
    position: absolute;
    bottom: 15px;
    right: 15px;
    text-align: right;
    line-height: 1;
    color: white; }

.thumbnail-1-1 {
  position: relative;
  background: #000080; }
  .thumbnail-1-1:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .thumbnail-1-1 h3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: left;
    line-height: 1;
    color: white; }
  .thumbnail-1-1:hover {
    cursor: pointer; }

.thumbnail-2-1 {
  position: relative;
  background: #000080; }
  .thumbnail-2-1:after {
    content: "";
    display: block;
    padding-bottom: 50%; }
    @media screen and (max-width: 50em) {
      .thumbnail-2-1:after {
        padding-bottom: 100%; } }
  .thumbnail-2-1 h3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: left;
    line-height: 1;
    color: white; }
  .thumbnail-2-1:hover {
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
