%img-title
  position: absolute
  bottom: $base-unit
  right: $base-unit
  text-align: left
  line-height: 1 !important
  color: $bg-color

%icon
  display: inline-block
  position: relative

%highlighted
  margin-right: 5px
  padding: 3px
  font-weight: normal !important
  color: $bg-color !important
  text-decoration: none
  background: $font-color
  // cursor: pointer !important
  // &:hover
    // background: transparentize($font-color, 0.25)