// Visibility
.desktop-only
  @media screen and (max-width: 960px)
    display: none
  @media screen and (min-width: 961px)
    display: block

.mobile-only
  @media screen and (max-width: 960px)
    display: block
  @media screen and (min-width: 961px)
    display: none

// Alignment
.left
  float: left !important

.right
  float: right !important
