html
  font:
    family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  color: $primary-color

// Typographic Scale
.title-big
  display: inline-block
  font:
    size: 2.618em
    weight: bold
  // line-height: 2.618em * 2
  margin-top: 2.618em
  margin-bottom: 1.309em

.title-small
  font:
    size: 1.618em
    weight: bold
  // line-height: 1.618em * 2
  margin: 1.309em 0

.subtitle
  font:
    size: 1em
    weight: bold
  // line-height: 1em * 2
  margin: 1.309em 0

p
  margin-bottom: 1em
  font:
    size: 1em
  line-height: 1em * 2
  text-align: justify
  @media screen and (max-width: $small)
    text-align: left
  // &:last-of-type
  //   margin-bottom: 0 !important

.copy
  margin-bottom: 0 !important

// Links

%underlined
  margin-right: 5px
  padding: 3px
  font-weight: normal !important
  color: white !important
  text-decoration: none
  background: $primary-color
  cursor: pointer !important
  &:hover
    background: transparentize($primary-color, 0.25)

.link,
.tag
  @extend %underlined

a
  color: $primary-color
  font-weight: bold
  text-decoration: none
  cursor: pointer

a:visited
  color: $primary-color

// Text-decoration

.horizontal-bar
  position: relative
  bottom: -9px

.testimonial
  font-style: italic !important

// Icons
.icon-submit
  display: inline-block
  position: relative
  bottom: 2px

.icon-download
  display: inline-block
  position: relative
  transform: rotate(90deg) !important