html
  font:
    family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  color: $primary-color

.title-big
  font:
    size: 2.618em
    weight: bold
  line-height: 2.618em * 2

.title-small
  font:
    size: 1.618em
    weight: bold
  line-height: 1.618em * 2

.subtitle
  font:
    size: 1em
    weight: bold
  line-height: 1em * 2

p
  margin-bottom: 1em
  font:
    size: 1em
  line-height: 1em * 2
  &:last-of-type
    margin-bottom: 0 !important

// Links
a
  font-weight: bold
  color: $primary-color
  text-decoration: none

a:visited
  color: $primary-color

// Text-decoration
.horizontal-bar
  position: relative
  bottom: -9px

.close-btn
  // font-size: 1.5em
  line-height: 50px
  color: white