// Colors
$font-color: #333333
$bg-color: #FAFAFA
$white: white
$black: black

// --------------------
// Swatches
// --------------------

// Assent Compliance
$assent-compliance-orange: #F0553C
$assent-compliance-grey: #969696

// Concerts by the Canal
$concerts-by-the-canal-yellow: #FFC20D
$concerts-by-the-canal-blue: #3081A2

// La Parapharmacie
$la-parapharmacie-blue: #0096FF
$la-parapharmacie-green: #64D29B

// Master Piano Recital Series
$master-piano-recital-series-grey: #C2CCCC

// Spacing
$base-unit: 15px