.jumbotron
  margin-top: 0
  width: 100%
  height: calc(100vh - 100px)
  background:
    color: $primary-color
    repeat: no-repeat
    position: center
    size: 50%
  @media screen and (max-width: $small)
    margin-top: 50px
    height: calc(100vh - 65px)
    background:
      size: 85%