.jumbotron
  margin-top: 0
  width: 100%
  height: 500px
  background:
    repeat: no-repeat
    position: center
    size: 75%
  @media screen and (max-width: $medium)
    margin-top: 50px
    height: 50vh
    background:
      repeat: no-repeat
      position: center
      size: 75%