#main-nav,
#main-footer
  width: 100%
  height: 50px
  line-height: 50px
  background: $bg-color
  .left a
    display: inline-block
    font-weight: bold
  .right a
    display: inline-block
    margin-left: 25px
    font-weight: bold

#main-nav
  @media screen and (max-width: $large)
    position: fixed
    top: 0
    left: 0
    z-index: 1
    padding: 0 15px

#main-footer
  clear: both
  margin-top: $base-unit * 4
  p
    display: inline-block
    line-height: 50px

// Overlay Menu
.overlay
  display: none
  position: fixed
  top: 0
  left: 0
  z-index: 1
  width: 100%
  height: 100%
  background: $font-color

.overlay-nav
  margin: 0 auto
  width: calc(100% - 30px)
  height: 50px
  line-height: 50px
  a
    color: $bg-color

.overlay-content
  height: calc(100% - 50px)
  width: 100%
  text-align: center
  background-color: $font-color
  a
    display: inline-block
    width: 100vw
    font-size: 1.618em
    line-height: 1.618em * 2
    color: $bg-color
    text-decoration: none

.links-wrapper
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.other-projects
  margin-top: $base-unit * 4 !important

.other-project-prev
  position: relative
  height: $base-unit * 10
  background:
    repeat: no-repeat
    position: center
    size: cover
  h2
    position: absolute
    bottom: $base-unit
    left: $base-unit
    text-align: left
    line-height: 1
  
.other-project-next
  position: relative
  height: $base-unit * 10
  background:
    repeat: no-repeat
    position: center
    size: cover
  h2
    position: absolute
    bottom: $base-unit
    right: $base-unit
    text-align: right
    line-height: 1