.color-swatch
  display: inline-block
  width: 3em
  height: 3em
  border-radius: 50%

// Assent Compliance
.assent-compliance-orange
  background: $assent-compliance-orange

.assent-compliance-grey
  background: $assent-compliance-grey

// Concerts by the Canal
.concerts-by-the-canal-yellow
  background: $concerts-by-the-canal-yellow

.concerts-by-the-canal-blue
  background: $concerts-by-the-canal-blue