.color-swatch
  display: inline-block
  width: 3em
  height: 3em
  border-radius: 50%


// Assent Compliance
.assent-compliance-orange
  background: $assent-compliance-orange

.assent-compliance-grey
  background: $assent-compliance-grey


// Concerts by the Canal
.concerts-by-the-canal-yellow
  background: $concerts-by-the-canal-yellow

.concerts-by-the-canal-blue
  background: $concerts-by-the-canal-blue


// La Parapharmacie
.la-parapharmacie-blue
  background: $la-parapharmacie-blue

.la-parapharmacie-green
  background: $la-parapharmacie-green


// Master Piano Recital Series
.master-piano-recital-series-white
  background: $white

.master-piano-recital-series-black
  background: $black

.master-piano-recital-series-grey
  background: $master-piano-recital-series-grey